
<!-- end: Page content of course! -->

<!-- Main Footer -->
<% include ../footer/html %>

</div>

<!-- start: Chat Section -->
<% include ../chat/html %>
<!-- end: Chat Section -->

</div>

<% include ../xenon/html %>
</body>
</html>
