<% include ../../include/layout/start.ejs %>
<div id="app">
  {{ message }}
  <el-button>默认按钮</el-button>
  <el-button type="primary">主要按钮</el-button>
  <el-button type="text">文字按钮</el-button>
</div>
<% include ../../include/layout/end.ejs %>
