<% include ../../include/layout/start.ejs %>
<img src="<%= require('../../../vendor/xenon/images/user-4.png') %>"/>
<a href="<%= url %>"><%= name %></a><div>2</div>
    <h1 a="'${require('./utils')}'">q456233we23e</h1>

<div id="app">
  {{ message }}
  <el-button>默认按钮</el-button>
  <el-button type="primary">主要按钮</el-button>
  <el-button type="text">文字按钮</el-button>
</div>

<% include ../../include/layout/end.ejs %>
