<% include ../../../include/layout/start.ejs %>
<div id="example">
  <div class="template-page">
    <div class="template-page-location">
      <el-breadcrumb separator=">">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>自动化服务</el-breadcrumb-item>
        <el-breadcrumb-item>订单催付</el-breadcrumb-item>
      </el-breadcrumb>
    </div>

    <div class="template-page-tab">
      <el-tabs v-model="activeName" type="card">
        <el-tab-pane label="短信催付" name="first">
            <el-row>
              <el-col :span="24">
                <div class="template-table-bar">
                  <el-row  type="flex">
                    <el-col :span="14">
                      <el-button type="primary" @click="handerlSmsDialogVisible"><i class="bu-icon bui-zengjia"></i> 新增实时催付</el-button>
                      <el-button type="primary"><i class="bu-icon bui-zengjia"></i> 新增定时催付</el-button>
                    </el-col>
                    <el-col :span="10">
                      <el-form :inline="true" class="pull-right">
                        <el-form-item>
                          <el-input
                            placeholder="请输入姓名"
                            icon="search">
                          </el-input>
                        </el-form-item>
                        <el-form-item>
                          <el-button type="text" ref="multipleSearchText" >展开滤选<i class="el-icon-arrow-down el-icon--right"></i>
                          </el-button>
                        </el-form-item>
                      </el-form>
                    </el-col>
                  </el-row>
                </div>
                <el-table
                  :data="tableData"
                  :empty-text="tableEmptyTip"
                  class="template-table"
                  border
                  resizable>
                  <el-table-column
                    type="selection"
                    width="55">
                  </el-table-column>
                  <el-table-column
                    prop="date"
                    label="日期"
                    width="180">
                  </el-table-column>
                  <el-table-column
                    prop="name"
                    label="姓名"
                    width="180">
                  </el-table-column>
                  <el-table-column
                    prop="province"
                    label="省份"
                    width="180">
                  </el-table-column>
                  <el-table-column
                    prop="address"
                    label="地址">
                  </el-table-column>
                  <el-table-column
                    label="操作"
                    width="180">
                    <template scope="scope">
                      <el-button type="text" @click.native.prevent="editRow(scope.$index, tableData)">详情</el-button> |
                      <el-dropdown trigger="click" menu-align="start">
                            <span class="el-dropdown-link">
                              更多<i class="el-icon-caret-bottom el-icon--right"></i>
                            </span>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item :command="String(scope.$index)">删除</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </template>
                  </el-table-column>
                </el-table>
                <el-pagination
                  class="template-table-pagination"
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="currentPage4"
                  :page-sizes="[10, 20, 30, 50, 100]"
                  :page-size="10"
                  layout="total, sizes, prev, pager, next, jumper"
                  :total="100">
                </el-pagination>
                <el-dialog title="新增实时催付" v-model="smsDialogVisible" :modal-append-to-body="false" size="small">
                  <el-form placement="right"  label-width="120px" v-model="smsValidateForm" ref="smsValidateForm">
                    <el-form-item label="催付主题"  required>
                      <el-form-grid size="xmd">
                        <el-form-item  prop="mission"  :rules="[ { required: true, message: '请输入催付主题名称', trigger: 'blur' }]">
                          <el-form-grid size="xmd">
                          <el-input placeholder="请输入催付主题名称" v-model="smsValidateForm.mission"></el-input>
                          </el-form-grid>
                        </el-form-item>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="催付店铺" required>
                      <el-form-grid>
                        <el-button type="primary" @click="handerlMultilayerVisible()">选择店铺</el-button>
                      </el-form-grid>
                      <el-form-grid>已选择<b class="text-danger"> {{resultMultilayer}}</b> 家店铺  </el-form-grid>
                    </el-form-item>

                    <el-form-item label="会员分组">
                      <el-form-grid size="xmd">
                        <el-popover  ref="droptreepopover"
                                     v-model="dropTreeVisible"
                                     :width="droptreeWidth"
                                     placement="bottom-start"
                                     trigger="click"
                                     popper-class="tmp-droptree-popover">
                          <el-scrollbar
                            wrap-class="tmp-droptree-scroll"
                            view-class="template-form-list">
                            <el-tree :data="dropTreeList"
                                     :expand-on-click-node="false"
                                     @node-click="handleSelectValue"
                                     class="tmp-droptree-tree"></el-tree>
                          </el-scrollbar>
                        </el-popover>
                        <el-input ref="droptreeinput"  v-model="dropTreeValue" readonly @click.native="handleShowDropTree" placeholder="请选择分组" class="tmp-droptree-input" v-popover:droptreepopover class="tmp-droptree-input"></el-input>
                      </el-form-grid>

                      <el-form-grid >
                        <el-button type="primary"><i class="bu-icon bui-weitongji"></i> 统计人数</el-button>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="会员等级">
                      <el-form-grid size="sm">
                        <el-select v-model="level" placeholder="请选择" v-model="defaultSelect">
                          <el-option label="普通会员" value="level1"></el-option>
                          <el-option label="高级会员" value="level2"></el-option>
                          <el-option label="VIP会员" value="level3"></el-option>
                          <el-option label="至尊VIP" value="level4"></el-option>
                        </el-select>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="订单范围">
                      <el-form-grid size="xmd">
                        <el-date-picker
                          v-model="valueDate1"
                          type="daterange"
                          placeholder="请选择日期范围">
                        </el-date-picker>
                      </el-form-grid>
                    </el-form-item>

                    <el-form-item label="订单金额">
                      <el-form-grid size="xs">
                        <el-select v-model="limit" placeholder="请选择" v-model="defaultSelect">
                          <el-option label="不限" value="limit1"></el-option>
                          <el-option label="只限" value="limit2"></el-option>
                        </el-select>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="催付商品">
                      <el-form-grid>
                        <el-radio-group v-model="formRadio">
                          <el-radio label="不限"></el-radio>
                          <el-radio label="只包含"></el-radio>
                          <el-radio label="不包含"></el-radio>
                        </el-radio-group>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="首次/二次催付">
                      <el-form-grid>
                        <el-radio-group v-model="formRadio">
                          <el-radio label="首次催付"></el-radio>
                          <el-radio label="二次催付"></el-radio>
                        </el-radio-group>
                      </el-form-grid>
                      <el-form-grid>【已关闭】</el-form-grid>
                      <div>只催付包含以下商品的订单： <el-button type="primary">选择商品</el-button></div>
                    </el-form-item>
                    <el-form-item label="开启状态">
                      <el-form-grid>
                        <el-switch on-text="开" off-text="关" v-model="delivery"></el-switch>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="执行时间">
                      <el-form-grid>下单</el-form-grid>
                      <el-form-grid size="xs">
                        <el-form-item>
                          <el-input class="text-right"></el-input>
                        </el-form-item>
                      </el-form-grid>
                      <el-form-grid>小时</el-form-grid>
                      <el-form-grid size="xs">
                        <el-form-item>
                          <el-input class="text-right"></el-input>
                        </el-form-item>
                      </el-form-grid>
                      <el-form-grid>分后开始执行</el-form-grid>
                      <el-form-grid>
                        <el-popover
                          ref="anilypopover"
                          placement="bottom"
                          width="600"
                          trigger="click">
                          <el-form-item label="催付店铺" required>
                            <el-form-grid>
                              <el-button type="primary" @click="handerlMultilayerVisible()">选择店铺</el-button>
                            </el-form-grid>
                            <el-form-grid>已选择<b class="text-danger"> {{resultMultilayer}}</b> 家店铺  </el-form-grid>
                          </el-form-item>

                          <el-form-item label="分析日期">
                            <el-form-grid size="xmd">
                              <el-date-picker
                                v-model="valueDate1"
                                type="daterange"
                                placeholder="请选择日期范围">
                              </el-date-picker>
                            </el-form-grid>
                            <el-form-grid><el-button type="primary">分析</el-button></el-form-grid>
                          </el-form-item>
                          <el-table :data="gridData">
                            <el-table-column property="date" label="时间范围"></el-table-column>
                            <el-table-column property="number" label="交易数"></el-table-column>
                            <el-table-column property="rate" label="比率"></el-table-column>
                          </el-table>
                        </el-popover>

                        <el-button v-popover:anilypopover type="primary">分析</el-button>

                      </el-form-grid>
                    </el-form-item>

                    <el-form-item label="订单排重">
                      <el-form-grid>
                        <el-checkbox-group v-model="formCheck">
                          <el-checkbox label="多笔订单只催一笔 " name="type"></el-checkbox>
                          <el-checkbox label="排除多笔订单中，但有支付的客户" name="type"></el-checkbox>
                        </el-checkbox-group>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="短信模板">
                      <el-form-grid size="xmd">
                        <el-select placeholder="请选择" v-model="defaultSelect">
                          <el-option label="短信模板1" value="mod1"></el-option>
                          <el-option label="短信模板2" value="mod2"></el-option>
                          <el-option label="短信模板3" value="mod3"></el-option>
                        </el-select>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="短信内容" required>
                      <div class="tmp-fieldset">
                        <div class="tmp-fieldset__tags">
                          <el-tag type="gray" color="#fff">昵称</el-tag>
                          <el-tag type="gray" color="#fff">姓名</el-tag>
                          <el-tag type="gray" color="#fff">会员等级</el-tag>
                          <el-tag type="gray" color="#fff">订单编号</el-tag>
                        </div>
                        <el-input class="tmp-fieldset__input" type="textarea" placeholder="最多可输入70个字"></el-input>
                      </div>
                      <div class="tmp-tips text-info"><i class="el-icon-information"></i> 您已录入 <span class="text-warning">11</span> 个字符(含店铺签名)，将被做为 <span class="text-warning">1</span> 条短信发送，每条按 <span class="text-warning">70</span> 字计价。</div>
                      <el-form-grid>
                        <el-checkbox>将短信内容保存到新模板</el-checkbox>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="催付时段" required>
                      <el-form-grid size="xmd">
                        <el-time-picker
                          is-range
                          v-model="valueTime1"
                          placeholder="请选择时间范围">
                        </el-time-picker>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="短信签名"  class="el-inline-block" required>
                      <el-form-grid size="xmd">
                        <el-select placeholder="请选择" v-model="defaultSelect">
                          <el-option label="短信签名" value="mod1"></el-option>
                        </el-select>
                      </el-form-grid>
                    </el-form-item>
                    <el-form-item label="选择通道"  class="el-inline-block" required>
                      <el-form-grid size="xmd">
                        <el-select placeholder="请选择" v-model="defaultSelect">
                          <el-option label="客道云通道" value="mod1"></el-option>
                        </el-select>
                      </el-form-grid>
                    </el-form-item>
                  </el-form>
                  <div slot="footer" class="dialog-footer">
                    <el-button @click="smsDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitSmsForm('smsValidateForm')">确 定</el-button>
                  </div>
                </el-dialog>
                <el-dialog title="选择平台" v-model="dialogMultilyaerVisible" ref="dialogMultilyaer" size="tiny" custom-class="no-padding" :modal-append-to-body="false" >
                  <div class="template-multi">
                    <div class="template-multi-header">
                      <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">线上店铺</el-checkbox>
                    </div>
                    <div class="template-multi-content">
                      <el-multi
                        :data="dataOnline"
                        accordion
                        node-key="id"
                        :default-checked-keys="defaultCheckedKeys"
                        @check-change="handleCheckChange"
                        ref="online"
                        :cols="2"
                        :show-Selectall="false"
                        :props="onlineProps">
                      </el-multi>
                    </div>
                  </div>
                  <div slot="footer" class="dialog-footer">
                    <el-button @click="saveMultilayerSelect">取 消</el-button>
                    <el-button type="primary" @click="saveMultilayerSelect">确 定</el-button>
                  </div>
                </el-dialog>
              </el-col>
            </el-row>
          </el-tab-pane>
        <el-tab-pane label="催付历史" name="two"></el-tab-pane>
        <el-tab-pane label="催付效果" name="three"></el-tab-pane>
        <el-tab-pane label="手动催付" name="four"></el-tab-pane>
        </el-tabs>
      </div>
    </div>
</div>
<% include ../../../include/layout/end.ejs %>
